@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wdth,wght@75..100,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
    font-weight: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: radial-gradient(circle at 105%, #120621, #130c17, #08080d, #08080d, #08080d);
}

/* texto da navbar */
nav a {
    color: #cfcfcf;
    font-size: 18px;
    text-decoration: none;
    padding: 0.5rem 6px;
    border-bottom: 1px solid transparent;
    margin-right: 1rem;
}

nav a:hover {
    border-bottom: 1px solid white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    padding: 0 6rem;
    color: #fff;
}

.logo img {
    width: 40px;
    border-radius: 50px;
}

/*fim da navbar */


h1 {
    font-size: 50px;
    color:  rgb(29, 29, 29);
    padding-top: 150px;
}

p {
    color: #787878;
    padding-top: 15px;
    font-size: 18px;
}

.h1p {
    margin-inline: 10rem ;
}

.h1p button {
    padding: 10px 15px;
    border: 2px solid #bbbbbb4f;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 20px;
    margin: 2rem 0.5rem;
    background-color: #fff;
    color: #787878;
    transition: 0.3s;
}

.h1p button:hover {
    background-color: #cfcfcf93;
    transform: scale(1.05);
}

.fundos-container {
    margin-inline: 10rem;
    margin-top: 2rem;
}

.fundos-container .pc {
    border-radius: 10px;
    height: 263px;
    width: 461px;
    margin: 0 3rem 3rem 0;
}

.cel {
    width: 204px;
    height: 340px;
    border-radius: 10px;
    margin: 0 3rem 3rem 0;
}

.fundos-container img {
    transition: 0.3s;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.267);
}

.fundos-container img:hover {
    transform: scale(1.05);
    filter: grayscale(70%);
}

.esconder {
  display: none !important;
}